---
const { id } = Astro.props
---

<div class="placeholder" id={id}><slot /></div>
<style>
	.placeholder {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100%;
		width: 100%;

		color: #00000080;
	}
</style>
